/**make the margins on the opaque backgrounds--make them the same**/
/**darken the picture on the services and solutions pages**/

/**GENERAL**/
html {
height: 100%;
}
body {
  color: white;
  font-family: 'Proxima N W01 Reg',Arial;
  height: 100%;
  margin: 0;
}
.main {
  background: rgba(0, 0, 0, 0.5); /*(0, 0, 128, 0.5);*/
  color: white;
  display: inline-block;
  float:left;
  font-size: 30px;
  margin-top:5%;
  margin-left:8%;
  margin-right: 0;
  margin-bottom: 0;
  padding: 10px;
  width: 55%;
}
h2 {
  font-size:25px;
}
h4 {
  font-size: 18px;
  font-style:italic;
}
p {
font-size: 16px;
}

/*NAVIGATION BAR STYLES*/
nav {
  background: rgba(0, 0, 0, 0.75);/*(0,0,128,.75)*/
  display: inline-block;
  float: right;
  font-size: 16px;
  height: 100%;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

}
ul {
list-style-type: none;
padding: 0;
padding-left: 10%;

}
li a {
  text-decoration: none;
  color: white;
}

.fullnav a:hover {
  color: #00FFAA;

}

.lilnav {
  font-size: 14px;

}
.lilnav a:hover {
  color: #BDFCC9;

}

.first {
  padding-bottom: 10%;
  padding-top: 15%;
}

.second {
  padding-bottom: 10%;
}

.third {
  padding-bottom: 10%;
}

.threeA {
  padding-bottom:8%;
}

.threeB {
  padding-bottom: 8%;
}
.threeC {
  padding-bottom: 12%;

}

.fourth {
  padding-bottom: 10%;
}

.fifth {
  padding-bottom: 10%;
}

/** FOOTER **/
footer {
  background-color: black;
  bottom: 0;
  display: block;
  float: left;
  padding-left: 5%;
  position: fixed;
  width:100%;
}
/** HOME **/
.home {
  background: url(Images/pipeline.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/** ABOUT **/
.about {
  background: url(../images/aerialOilField.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/** SERVICES AND SOLUTIONS **/
.servicesandsolutions {
  background: url(../images/nightImage.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/**TESTIMONIALS**/
.testimonials {
  background: url(../images/pipeline.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#opening {
  float:left;
}

#johnArnold {
  display:inline;
}
#chairman {
  display:inline;
}
#jmaImage {
  background: url(../images/JMA.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  float: left;
  height: 206.55px ;
  margin-left: 10px;
  margin-top: 10px;
  width:  150.4px ;
}
#johnArnoldText {
  float:left;
  padding-left: 20px;
  width: 550px;
}
#testBody {
  clear:both;
  display:inline-block;
}
.bold {
  font-weight: bold;
}
/**CONTACT**/
.contact{
  background: url(../images/harrisburg-skyline.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.headquarters{
  float:left;
  padding-right: 10%;
}
.mid-atlantic {
  float:left;
}
.south-east {
  float: left;
}
