body {
font-family: 'Proxima N W01 Reg',Arial;
background-image: url(Images/rocks.jpg);
}

form {
  margin-top: 200px;
  margin-bottom: 20px;
}

form > label {
  color: white;
  font-weight: bold;
}

input {
  display: block;
  margin-bottom: 20px;
}

.container {
  margin-top:50px;
  margin-left:90px;
  padding: 10px;
  background-color: navy;
  float:left;
  font-size: 30px;
  background: rgba(0, 0, 128, 0.5);
  color: white;
}
.nav {
  position: absolute;
  margin-left: 85%;
  line-height: 45px;
  padding: 10px;
  margin-top: 0px;
  font-size: 16px;
  width: 180px;
  height: 100%;
  z-index: 4;
  display: block;
  list-style-type: none;
  text-transform: uppercase;
  background-color: navy;
  background: rgba(0, 0, 128, 0.75);
}
.sands {
line-height: 20px;
}
.nav a {
  font-style: normal;
  list-style-type: none;
  font-variant: normal;
  color:white;
  text-decoration: none;
}

.nav a:hover {
color:aqua;
}


.testamonial {
  clear:both;
  border: 5px;
  border-style: solid;
  border-color: aqua;
  width: 350px;
}

.footer {
  clear:both;
  border-color: black;
  border-style:solid;
  border: 5px;
  position:fixed;
  bottom: 0;
}

.contact {
  float:left;
}

.copywrite {
  float:right;
}
